colorama==0.4.3
peewee==3.13.2
peewee-db-evolve==3.7.3
Pyrogram==0.17.1
PySocks==1.7.1
pytz==2019.3
virtualenv==20.0.15
TgCrypto==1.2.0
APScheduler==3.6.3
minter-sdk==1.0.32
mnemonic==0.19
Pyrogram==0.17.1
requests==2.23.0
TgCrypto==1.2.0
wrapt==1.12.1
retry==0.9.2
web3==5.9.0
APScheduler==3.6.3
psycopg2-binary==2.8.5
cachetools